header{
    background-color: rgb(175, 175, 175);
    padding: 20px;
    
}
nav{
    background-color: rgb(138, 205, 50);
    color: white;
    padding: 10px;
}
section{
    float: left;
    width: 70%;
    background-color: gainsboro;
}
aside{
    float: left;
    width:"30%";    
    background-color: red;
}
footer{    
    background-color: yellowgreen;
    color: white;
    padding: 10px;
}
.contenedor::after{
    content: "";
    display: block;
    clear: both;
}


